@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    @await Component.InvokeAsync("_DashboardWidgetsComponentPartial")

    @await Component.InvokeAsync("_DashboardMainChartComponentPartial")
    
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4>Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart4" class="chartsh"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4>Chart</h4>
                </div>
                <div class="card-body">
                    <div class="summary">
                        <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
                            <div id="chart3" class="chartsh"></div>
                        </div>
                        <div data-tab-group="summary-tab" id="summary-text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4>Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart2" class="chartsh"></div>
                </div>
            </div>
        </div>
    </div>
    
    @await Component.InvokeAsync("_DashboardGroupReservationComponentPartial")

    <div class="row">

        @await Component.InvokeAsync("_DashboardAIDailyMenuSuggestionComponentPartial")

        @await Component.InvokeAsync("_DashboardClaudeAIComponentPartial")
    </div>
</section>

<!-- General JS Scripts -->
<script src="/otika-bootstrap-admin-template/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/otika-bootstrap-admin-template/assets/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/page/index.js"></script>
<!-- Template JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/custom.js"></script>
