<li class="dropdown">
    <a href="#" data-toggle="dropdown"
       class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <img alt="image" src="/otika-bootstrap-admin-template/assets/img/user.png"
             class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right pullDown">
        <div class="dropdown-title">Merhaba, Yasin</div>
        <a href="profile.html" class="dropdown-item has-icon">
            <i class="far fa-user"></i> Profilim
        </a> 
        <a href="timeline.html" class="dropdown-item has-icon">
            <i class="fas fa-bolt"></i>
            Rezervasyonlar
        </a> 
        <a href="#" class="dropdown-item has-icon">
            <i class="fas fa-cog"></i>
            Ayarlar
        </a>
        <div class="dropdown-divider"></div>
        <a href="auth-login.html" class="dropdown-item has-icon text-danger">
            <i class="fas fa-sign-out-alt"></i>
            Çıkış Yap
        </a>
    </div>
</li>