
@{
    ViewData["Title"] = "CreateRecipeWithOpenAI";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Open AI ile Yapay Zeka Destekli Yemek Tarifi Önerisi</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Elinizdeki Malzemeler ve Anahtar Kelimeler</label>
                            <input type="text" name="prompt" class="form-control" placeholder="tavuk, balık, patates, patlıcan, kabak, bonfile..."/>
                            <br />
                            <button class="btn btn-primary">Tarif Önerisi Oluştur</button>
                        </form>

                        <br />
                        <br />
                        @if (ViewBag.recipe != null)
                        {
                            <hr />
                            <h5>Oluşturulan AI Yemek Tarifi Önerisi</h5>
                            @Html.Raw(ViewBag.recipe.ToString())
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
