@model GetAboutByIdDto

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Hakkımızda Alanı Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="AboutId" />
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Rezervasyon Numarası</label>
                            <input type="text" asp-for="ReservationNumber" class="form-control" />
                            <br />
                            <label>Görsel URL</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Video Kapak Görseli</label>
                            <input type="text" asp-for="VideoCoverImageUrl" class="form-control" />
                            <br />
                            <label>Video URL (Embed Linki)</label>
                            <input type="text" asp-for="VideoUrl" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                            <br />
                            <button class="btn btn-success">Hakkımızda Alanını Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



