@model CreateMessageDto

@{
    ViewData["Title"] = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yeni Mesaj Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Gönderici Ad Soyad</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>Gönderici Email</label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <br />
                            <label>Mesaj Konusu</label>
                            <input type="text" asp-for="Subject" class="form-control" />
                            <br />
                            <label>Mesaj İçeriği</label>
                            <input type="text" asp-for="MessageDetails" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Mesajı Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
