@model CreateMessageDto

<form asp-controller="Message" asp-action="SendMessage" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
    <div class="row gy-4">

        <div class="col-md-6">
            <input type="text" asp-for="NameSurname" class="form-control" placeholder="Adınız Soyadınız" required="">
        </div>

        <div class="col-md-6 ">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email Adresiniz" required="">
        </div>

        <div class="col-md-12">
            <input type="text" class="form-control" asp-for="Subject" placeholder="Konu" required="">
        </div>

        <div class="col-md-12">
            <textarea class="form-control" asp-for="MessageDetails" rows="6" placeholder="Mesajınız" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
            <div class="loading">Yükleniyor</div>
            <div class="error-message"></div>
            <div class="sent-message">Mesajınız başarıyla gönderildi! Teşekkür ederiz</div>
            <button type="submit">Mesajı Gönder</button>
        </div>

    </div>
</form><!-- End Contact Form -->