@model GetReservationByIdDto

@{
    ViewData["Title"] = "UpdateReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Rezervasyon Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="ReservationId" />
                            <label>Misafirin Adı</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>Misafirin Email Adresi</label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <br />
                            <label>Misafirin Telefon Numarası</label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" />
                            <br />
                            <label>Rezervasyon Tarihi</label>
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                            <br />
                            <label>Rezervasyon Saati</label>
                            <input type="time" asp-for="ReservationTime" class="form-control" />
                            <br />
                            <label>Kişi Sayısı</label>
                            <input type="number" asp-for="CountofPeople" class="form-control" />
                            <br />
                            <label>Misafir Mesajı</label>
                            <input type="text" asp-for="Message" class="form-control" />
                            <br />
                            <label>Rezervasyon Durumu</label>
                            <input type="text" asp-for="ReservationStatus" readonly class="form-control" />
                            <br />
                            <button class="btn btn-success">Rezervasyonu Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
