<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Menümüz</h2>
        <p><span>Lezzetli Tatlar</span> <span class="description-title">Uygun Fiyatlar</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        @await Component.InvokeAsync("_DefaultMenuCategoryComponentPartial")
        


        @await Component.InvokeAsync("_DefaultMenuProductComponentPartial")
        

    </div>

</section>