@model CreateWhyChooseYummyDto

@{
    ViewData["Title"] = "CreateWhyChooseYummy";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yeni Neden Bizi Seçmelisiniz Alanı Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <label>İkon URL</label>
                            <input type="text" asp-for="IconUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Alanı Oluştur</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
